
body {
    padding: 0px;
    margin: 0px;
}

input#urlfrom {
    /* text-align: center; */
    padding: 0px;
    margin: 0;
}

#onoff {
    position: absolute;
    float: right;
    right:10px;
    top:2px;
}

label {
    display: inline-block;
    width: 80px;
    
    text-align: right;
}

label.wrap {
    display: inline-block;
    
    width: 198px;
    padding-right: 2px;
}

#header span, #header img {
    height: 19px;
    vertical-align: middle;
}

#submit {
    width: 46px;

    display: inline-block;
}

input {
    width: 150px;
    
    display: inline-block;
}

input.number {
    width: 50px;
    
}

#header {
    vertical-align: middle;
    position: relative;
}

#header {
    border-radius: 2px 2px 0px 0px / 2px;
}
#footer {
    /*border-radius: 0px 0px 5px 5px / 5px;*/
    margin: 0 auto;
    text-align: right;
    position: relative;
}
#footer:after {
    content:"";
    background-color: lightgrey;
    position:absolute;
    top: 0;
    left: 10%;
    height: 2px;
    width: 80%;
}

.pagebody {
    padding: 5px;
    width: 250px;
}

a {
    color: red;
    text-decoration: underline;
    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -ms-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
}

#saving {
    width:250px;
    margin-top:5px;
    border-radius:2px;
    padding:5px 0px;
    background-color: blue;
}

a:hover {
    color: black;
}

form {
    border-radius:2px;
    background-color: #96AB98;
    padding: 5px 0px;
}

.reloadinfo, .reloadbuttons {
    display: inline-block;
}

.reloadrule {
    
    border: 2px green solid;
    padding: 3px;
    border-radius: 5px;
}

.reloadbuttons {
    float: right;
    width: 15%;
}

.ui-icon {
    display: inline-block;
}

.ui-icon, .delay, .urlto {
    vertical-align: middle;
}

.delay:after {
    content:'s';
    color: black;
}

.delay {
    color: red;
}

.pagebody .reloadrule:nth-child(n+1),
#reloadeditor {
    margin-top: 5px;
}

.urlto, .urlfrom {
    width: 150px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}